/* reset  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style  */

.body {
  background-color: rgb(21, 107, 156);
  display: flex;
  opacity: 0.7;
  font-family: "Press Start 2P", cursive;
  cursor: default;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  padding: 10px;
  margin: 5px;
  border: 3px solid yellow;
  border-radius: 12px;
  background-color: transparent;
  min-width: 70px;
  min-height: 40px;
  cursor: pointer;
  color: white;
  font-family: "Press Start 2P", cursive;

  font-weight: 600;
  font-size: x-large;
  -webkit-text-stroke: 1px black;
}

p {
  margin: 30px;
  font-size: 3vh;
  font-weight: 400;
  -webkit-text-stroke: 1px black;
}

.container {
  width: 80vw;
  height: 80vh;
  border: 3px dotted white;
  position: absolute;
  left: 10%;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.splash-buttons-wrap {
  margin-top: 5vh;
}

#good-times {
  width: 80vw;
  height: 80vh;
  border: 3px dotted white;
  position: absolute;
  left: 10%;
  bottom: 5%;
  background: rgb(56, 56, 165);
  background-image: url("https://good-times-surfing-game.s3-us-west-1.amazonaws.com/start_bckgrd.png");
}

#play-riff {
  display: none;
}

.navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  align-items: center;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 10px;
}

.navbar-left-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-wrap {
  display: flex;
  position: relative;
}

.title {
  position: relative;
  font-family: "Press Start 2P", cursive;

  font-size: xx-large;
  color: white;
  -webkit-text-stroke: 1px black;
  margin: 0;
  font-weight: 900;
}

.fa-volume-up {
  color: white;
  -webkit-text-stroke: 1px black;
  cursor: pointer;
  font-size: x-large;
  cursor: pointer;
  padding-left: 20px;
}

.fa-volume-mute {
  color: white;
  -webkit-text-stroke: 1px black;
  cursor: pointer;
  font-size: x-large;
  cursor: pointer;
  padding-left: 20px;
}

.fa-arrow-up {
  color: yellow;
  font-size: 4vh;
}

.fa-arrow-down {
  color: yellow;
  font-size: 4vh;
}

.fa-arrow-left {
  color: yellow;
  font-size: 4vh;
}

.fa-arrow-right {
  color: yellow;
  font-size: 4vh;
}

.instructions-image-shaka {
  height: 4vh;
}

.instructions-image-obstacle {
  height: 9vh;
}

.navbar-right-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 5vw;
  justify-content: space-between;
}

.fab {
  color: white;
  font-size: x-large;
}

.fa-at {
  color: white;
  font-size: x-large;
}

#music-on-msg {
  color: yellow;
  position: absolute;
  /* z-index: 100; */
}

.your-score-wrap {
  display: flex;
  flex-direction: row;
}

#your-score {
  color: yellow;
}

#leader-board-scores {
  display: flex;
  flex-direction: column;
  border: 3px solid yellow;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
}

.players-data-container {
  margin: 5px;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  justify-content: space-between;
}

.firebase-player-name {
  text-transform: uppercase;
  margin: 5px;
  font-weight: 600;
  font-size: x-large;
  color: yellow;
}

.firebase-player-score {
  margin: 5px;
  font-weight: 600;
  font-size: x-large;
}

#music-on-msg {
  margin: 10px;
}

/* buttons shake */
#start-game-button {
  position: relative;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
#start-game-button:hover {
  animation-name: shakeAnim;
}

#show-instructions-button {
  position: relative;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
#show-instructions-button:hover {
  animation-name: shakeAnim;
}

#re-start-game-button {
  position: relative;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
#re-start-game-button:hover {
  animation-name: shakeAnim;
}

#player-name {
  margin: 10px;
  padding: 10px;
  background: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 12px;
  font-size: large;
  font-weight: 600;
  text-align: center;
}

::placeholder {
  color: yellow;
  opacity: 1;
  text-align: center;
}

@keyframes shakeAnim {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

@keyframes shake {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

.hidden {
  display: none;
}

.hidden::before {
  display: none;
}
