/* reset  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style  */

.body {
  background-color: rgb(21, 107, 156);
  display: flex;
  opacity: 0.7;
  font-family: "DotGothic16", sans-serif;
  cursor: default;
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  padding: 5px;
  margin: 5px;
  border: 3px solid yellow;
  border-radius: 12px;
  background-color: transparent;
  min-width: 70px;
  min-height: 40px;
  cursor: pointer;
  color: white;
  font-family: "DotGothic16", sans-serif;
  font-weight: 600;
  font-size: xx-large;
  -webkit-text-stroke: 1px black;
}

p {
  margin: 10px;
  font-size: 5vh;
  font-weight: 600;
  -webkit-text-stroke: 1px black;
}

.splash-buttons-wrap {
  margin-top: 15vh;
}

#good-times {
  width: 80vw;
  height: 80vh;
  border: 3px dotted white;
  background: rgb(56, 56, 165);
  /* object-fit: contain; */
  background-image: url("https://good-times-surfing-game.s3-us-west-1.amazonaws.com/start_bckgrd.png");
  position: absolute;
  /* top: 50%; */
  left: 10%;
  bottom: 5%;
  /* transform: translate(-50%, -50%); */
}

#play-riff {
  display: none;
}

.navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  align-items: center;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar-left-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-wrap {
  display: flex;
  position: relative;
}

.title {
  position: relative;
  font-family: "DotGothic16", sans-serif;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 1px black;
  margin: 0;
  font-weight: 900;
  /* text-emphasis-style: 11; */
}

.volume-button-wrap {
  color: white;
  -webkit-text-stroke: 1px black;
  cursor: pointer;
  font-size: x-large;
  margin-left: 30px;
}

.navbar-right-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.github-button-wrap {
  color: white;
  /* -webkit-text-stroke: 1px black; */
  cursor: pointer;
  font-size: x-large;
  margin-left: 30px;
}

.email-button {
  text-decoration: none;
  font-family: "Font Awesome 5 Pro";
  color: white;
  font-size: 30px;
  font-weight: bolder;
  padding-bottom: 6px;
}

.splash-screen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  align-items: center;
  text-align: center;
}

.game-over {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  align-items: center;
  text-align: center;
}

.leader-board-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  align-items: center;
  text-align: center;
}

#leader-board-scores {
  display: flex;
  flex-direction: column;
  border: 3px solid yellow;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.players-data-container {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.firebase-player-data {
  margin: 5px;
  font-weight: 600;
  font-size: x-large;
  -webkit-text-stroke: 1px black;
}

#music-on-msg {
  margin: 10px;
}

/* buttons shake */
#start-game-button {
  position: relative;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
#start-game-button:hover {
  animation-name: shakeAnim;
}

#show-instructions-button {
  position: relative;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
#show-instructions-button:hover {
  animation-name: shakeAnim;
}

#re-start-game-button {
  position: relative;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
#re-start-game-button:hover {
  animation-name: shakeAnim;
}

#player-name {
  margin: 10px;
  padding: 10px;
  background: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 12px;
}

::placeholder {
  color: white;
  opacity: 1;
}

@keyframes shakeAnim {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

@keyframes shake {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

.hidden {
  display: none;
}

.hidden::before {
  display: none;
}
