#good-times {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pause-riff {
  display: none;
}

.music-button {
  cursor: pointer;
}
